<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Simple & Straight Forward Loan Secured<br> Against Your Car.</h1>
    <p class="lead">Representative 63.9% APR</p>
    <p class="lead"><strong>Pay back in affordable monthly instalments</strong></p>
  </div>
  <div class="container-cta">
<form class="form-inline" role="form">
  <div class="form-group">
    <label class="sr-only" for="exampleInputEmail2">Email address</label>
    <input type="email" class="form-control apply-input" id="exampleInputEmail2" placeholder="Vehicle Registration" ng-model="vehicleReg">
  </div>
  <div class="form-group">
    <label class="sr-only" for="exampleInputEmail2">Email address</label>
    <input type="email" class="form-control apply-input" id="exampleInputEmail2" placeholder="Vehicle Mileage" ng-model="vehicleMiles">
  </div>

  <a href="/signup" class="btn btn-custom" id="apply-btn" ng-click="pageLoader()">Apply Now</a>
</form>
  </div>

</header>

<div class="container-tutorial">
  <div class="container-steps">
    <div class="row">
      <div class="col-md-12">
      <p id="tutorial-header">  Get a cash advance within 1 hour. </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
      <p id="tutorial-header-small">5 minutes application </p>
      </div>
    </div>
    <div class="row steps-row">
      <div class="col-md-1">
      <div class="numberCircle">
    <div class="height_fix"></div>
    <div class="content">1</div>
</div>
<div class="numberCircle" style="margin-top:80px;">
<div class="height_fix"></div>
<div class="content">2</div>
</div>
<div class="numberCircle" style="margin-top:80px;">
<div class="height_fix"></div>
<div class="content">3</div>
</div>

      </div>
      <div class="col-md-5">
        <p class="steps-info" style="margin-top:5px">Apply online</p>
        <p class="step-text">It takes just a few minutes to provide us with your information. It will not impact your credit history.</p>
        <p class="steps-info" style="margin-top:20px;">Sign your contract online</p>
      <p class="step-text">Using our secure application, you can e-sign your contract if approved. Trust & security is our #1 priority at Driver Loans.

</p>
      <p class="steps-info" style="margin-top:23px;">Fast payout</p>
      <p class="step-text">Money directly deposited into your current account within 1 hour of approval. </p>


      </div>
      <div class="col-md-5 req-text well">
        <p id="requirements"><strong>To apply for a loan you'll need:</strong></p>
       <p ><i class="fa fa-check" style="color:#198efb"></i> Your vehicle's logbook</p>
       <p><i class="fa fa-check" style="color:#198efb"></i> A valid email address and mobile number</p>
       <p><i class="fa fa-check" style="color:#198efb"></i> Address information for the past 3 years</p>
       <p><i class="fa fa-check" style="color:#198efb"></i> Your income and outgoings</p>
      <p id="requirements"><strong> Also you must:</strong></p>
      <p><i class="fa fa-check" style="color:#198efb"></i> Be aged between 18 and older</p>
      <p><i class="fa fa-check" style="color:#198efb"></i> Be a UK resident</p>
      <p><i class="fa fa-check" style="color:#198efb"></i> Not be bankrupt</p>
      <p><i class="fa fa-check" style="color:#198efb"></i>   Agree to a credit check</p>


      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Reinventing Logbook Loans</h1>
    <p class="page-paragraph"> An online logbook loan by driver loans is similar to a conventional logbook loan however it is more convinient and affordable. Unlike conventional logbook lenders we do not have high overheads from maintaining high street shops and paying sales agents and we pass the savings on to you. Our secured loans are 100th of the APR of a conventional logbook loan. Simply fill out the quick application form, once your loan has been approved send us your logbook (V5) along with a signed bill of sale by post and we will deposit the funds into your bank account within 24 hours. Once your loan has been repayed we will return the vehicle's logbook back to you.</p>
    </div>
  </div>
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">You are in control</h1>
  <p class="page-paragraph"> Everyone wants to be in control of their loan. We give you real-time statements and 24/7 access to your account online. Interest is calculated daily so you only pay for the time you have the loan. If you pay even £1 off early, you stop paying interest on that money immediately.</p>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Paying off your loan</h1>
  <p class="page-paragraph"> We've thought of as many ways as possible for you to make repayments. Regular payments are made by Direct Debit, but you can also pay by card, online, over the phone 24/7 or in cash at any one of 22,000 PayPoint locations.</p>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">No hidden fees</h1>
  <p class="page-paragraph"> When times get tough the last thing you need is someone making money from your problems. We NEVER charge for letters, early settlement or anything else.</p>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">What about when things go wrong?</h1>
  <p class="page-paragraph"> We collect late payments in the same way as any high street lender would. If a loan falls into arrears we will text you a reminder, if we're not able to collect a payment we will phone and email you to see what's gone wrong. Our priority is to stop a late payment snowballing into a bigger problem. Obviously, because our loans are secured against your car, if a borrower doesn't repay then the vehicle used to secure the loan may be repossessed. However this only happens In a few very rare cases, where we can't come to an arrangement for repayment with the borrower. Whatever happens we will NEVER put your home or other property at risk. We've made 10 promises on how we'll deal with arrears.</p>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Rebuilding your credit</h1>
  <p class="page-paragraph">We want to help make your financial future better; so we report back to all three credit reference agencies, each month, showing your repayments. As payments are made on time this will help to build or rebuild your credit profile.</p>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Call us</h1>
  <p class="page-paragraph">We want to help make your financial future better; so we report back to all three credit reference agencies, each month, showing your repayments. As payments are made on time this will help to build or rebuild your credit profile.</p>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Email us</h1>
  <p class="page-paragraph">We want to help make your financial future better; so we report back to all three credit reference agencies, each month, showing your repayments. As payments are made on time this will help to build or rebuild your credit profile.</p>
  </div>
</div>
</div>

<footer class="footer">
  <div class="container">

  </div>
</footer>
