.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
    background-image: url("/assets/images/background.jpg");
    height:700px;
    padding-top:130px;
}

#banner h1 {
    font-size: 45px;
    line-height: 1.2;
    font-weight:100;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.container-cta{
  max-width:550px;
  background:white;
  margin:0 auto;
  border-radius:3px;
  height:60px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
padding-top:5px;
}

#apply-btn{
  width:136px;
  height:50px;
  font-weight:bold;
  font-size:16px;
}

.apply-input{
  height:50px;
  font-size:16px;
}

.page-header{
  text-align:left;
  color:#4d4d4d;
  font-size:35px;
}

.container-whyApply{
  max-width:900px;
  margin:200px auto;
}

.page-paragraph{
  font-size:20px;
}

.footer{
  background:#eee;
  height:250px;
}

.container-tutorial{
  max-width:100%;
  margin:0 auto;
  background:#eee;
  height:520px;
  text-align:left;
}

#tutorial-header{
  font-size:35px;
  margin-top:50px;
  color:#4d4d4d;
}

.container-steps{
  max-width:790px;
  margin:0 auto;
}

#tutorial-header-small{
  color:#8cc14c;
  font-size:25px;
  margin-top:-10px;
}

.steps-row{
  margin-top:30px;
}

#requirements{
  color:#4d4d4d;
}

.numberCircle {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 40px;
    padding: 8px;
    font-size: 22px;
    border: 2px solid #8cc14c;
    position: relative;
    color:#8cc14c;

}
.numberCircle .height_fix {
    margin-top: 100%;
}
.numberCircle .content {
    position: absolute;
    left: 0;
    top: 50%;
    height: 100%;
    width: 100%;
    text-align: center;
    margin-top: -16px; /* Note, this must be half the font size */
}

.req-text{
  letter-spacing:1px;
}

.steps-info{

  font-size:20px;
}
