<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Simple & Straight Forward Loan For<br> Car Owners.</h1>
    <p class="lead">Representative 263.9% APR</p>
    <p class="lead"><strong>Borrow up to £5000 within 24 hours </strong></p>
  </div>
  <div class="container-cta">
<form class="form-inline" role="form">
  <div class="form-group">
    <label class="sr-only" for="exampleInputEmail2">Email address</label>
    <input type="email" class="form-control apply-input" id="exampleInputEmail2" placeholder="Vehicle Registration" ng-model="vehicleReg">
  </div>
  <div class="form-group">
    <label class="sr-only" for="exampleInputEmail2">Email address</label>
    <input type="email" class="form-control apply-input" id="exampleInputEmail2" placeholder="Vehicle Mileage" ng-model="vehicleMiles">
  </div>

  <button type="submit" class="btn btn-success" id="apply-btn" ng-click="getValue()"><i class="fa fa-lock" style="padding-right:10px;color:#4d4d4d"></i> Apply Now</button>
</form>
  </div>

  <div class="container-whyApply">
    <div class="col-xs-3">
    <span class="fa-stack fa-lg">
<i class="fa fa-circle fa-stack-2x"></i>
<i class="fa fa-pencil fa-stack-1x fa-inverse" style="color:#5CB85C"></i>
</span>  <p style="font-size:20px">  5 minutes application
    </div>
    <div class="col-xs-3">
      <span class="fa-stack fa-lg">
  <i class="fa fa-circle fa-stack-2x"></i>
  <i class="fa fa-check fa-stack-1x fa-inverse" style="color:#5CB85C"></i>
</span> <p style="font-size:20px">Instant decision</p>
    </div>
    <div class="col-xs-3">
      <span class="fa-stack fa-lg">
  <i class="fa fa-circle fa-stack-2x"></i>
  <i class="fa fa-clock-o fa-stack-1x fa-inverse" style="color:#5CB85C"></i>
</span> <p style="font-size:20px">Fast payout</p>
    </div>
    <div class="col-xs-3">
    <span class="fa-stack fa-lg">
<i class="fa fa-circle fa-stack-2x"></i>
<i class="fa fa-university fa-stack-1x fa-inverse" style="color:#5CB85C"></i>
</span>  <p style="font-size:20px"> Bad credit accepted </p>
    </div>

  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Logbook Loan, a quick introduction</h1>
    <p class="page-paragraph">  A logbook loan is a simple and straight forward loan for people with bad credit, because a logbook loan is secured against your vehicle there are no invasive credit checks during the application process you just need to own a car (clear of finance) and prove you can afford to repay the loan. You must hand over the vehicle's logbook (V5) to the lender and sign a bill of sale which legally hands over ownership of the vehicle to the lender however you keep driving the vehicle as normal as long as you keep up repayments. Once the loan has been repayed the lender hands over the vehicle's logbook back to you.</p>
    </div>
  </div>
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Online Logbook Loans by driver loans</h1>
  <p class="page-paragraph">  An online logbook loan by driver loans is similar to a conventional logbook loan however it is more convinient and affordable. Unlike conventional logbook lenders we do not have high overheads from maintaining high street shops and paying sales agents and we pass the savings on to you. Our secured loans are 100th of the APR of a conventional logbook loan. Simply fill out the quick application form, once your loan has been approved send us your logbook (V5) along with a signed bill of sale by post and we will deposit the funds into your bank account within 24 hours. Once your loan has been repayed we will return the vehicle's logbook back to you.</p>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">You are in control</h1>
  <p class="page-paragraph"> Everyone wants to be in control of their loan. We give you real-time statements and 24/7 access to your account online. Interest is calculated daily so you only pay for the time you have the loan. If you pay even £1 off early, you stop paying interest on that money immediately.</p>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Paying off your loan</h1>
  <p class="page-paragraph"> We've thought of as many ways as possible for you to make repayments. Regular payments are made by Direct Debit, but you can also pay by card, online, over the phone 24/7 or in cash at any one of 22,000 PayPoint locations.</p>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">No hidden fees</h1>
  <p class="page-paragraph"> When times get tough the last thing you need is someone making money from your problems. We NEVER charge for letters, early settlement or anything else.</p>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">What about when things go wrong?</h1>
  <p class="page-paragraph"> We collect late payments in the same way as any high street lender would. If a loan falls into arrears we will text you a reminder, if we're not able to collect a payment we will phone and email you to see what's gone wrong. Our priority is to stop a late payment snowballing into a bigger problem. Obviously, because our loans are secured against your car, if a borrower doesn't repay then the vehicle used to secure the loan may be repossessed. However this only happens In a few very rare cases, where we can't come to an arrangement for repayment with the borrower. Whatever happens we will NEVER put your home or other property at risk. We've made 10 promises on how we'll deal with arrears.</p>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Rebuilding your credit</h1>
  <p class="page-paragraph">We want to help make your financial future better; so we report back to all three credit reference agencies, each month, showing your repayments. As payments are made on time this will help to build or rebuild your credit profile.</p>
  </div>
</div>
</div>

<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.0.13 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
